<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<h4>BT1</h4>
<p>JPA (Java Persistence API) là một đặc tả trong Java EE dùng để quản lý dữ liệu quan hệ trong ứng dụng Java, cung cấp một cách chuẩn hóa để ánh xạ các đối tượng Java (POJO) với cơ sở dữ liệu quan hệ (ORM - Object-Relational Mapping). JPA định nghĩa các API và chú thích để thực hiện các thao tác như lưu trữ, truy vấn, cập nhật và xóa dữ liệu mà không cần viết câu lệnh SQL phức tạp. Hibernate là một triển khai phổ biến của JPA, cung cấp các tính năng bổ sung và tối ưu hóa để làm việc với cơ sở dữ liệu. JPA quan trọng trong phát triển ứng dụng Java vì nó giúp đơn giản hóa việc tương tác với cơ sở dữ liệu, tăng tính di động (có thể thay đổi triển khai JPA như Hibernate, EclipseLink mà không sửa đổi mã nguồn nhiều), và cải thiện hiệu suất phát triển bằng cách giảm mã lệnh thủ công. Nhờ JPA, lập trình viên có thể tập trung vào logic nghiệp vụ thay vì quản lý cơ sở dữ liệu.</p>
<br>
<h4>BT2</h4>
<p>Tạo một dự án Spring Boot và thêm cấu hình cho JPA trong file application.properties.</p>
<br>
<h4>BT03</h4>
<p>Tạo các class entity để quản lý rạp chiếu phim .</p>
<br>
<h4>BT04</h4>
<p>Tạo các class repository để quản lý rạp chiếu phim.</p>
<br>
<h4>BT05</h4>
<p>Tạo các class service để quản lý rạp chiếu phim.</p>
<br>
<h4>BT06</h4>
<p>Tạo các class controller để quản lý rạp chiếu phim.</p>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>